# Gradle build directories & caches
.gradle/
build/
bin/
out/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS & Temp files
.DS_Store
Thumbs.db
*.log

# Scraper temporary debug outputs
/*.html
!src/test/resources/**
fetch_html.js


# cli-commands-test
cli.txt